.bg-1 { 
    background-color: darkkhaki; /* Green */
    color: #ffffff;
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-2 {
    background-color: darkgray;
    color: white;
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-3 {
    background-color: lightseagreen;
    color: white;
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-4 {
    background-color: white;
    color: black;
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-2-text {
    margin: 0px 200px 0px 200px;
    text-align: justify;
    font-size: 20px;
}

.bg-3-text {
    margin: 0px 200px 0px 200px;
    text-align: justify;
    font-size: 20px;
}

.bg-4-text {
    margin: 0px 200px 0px 200px;
    text-align: justify;
    font-size: 20px;
}