.bg-1 { 
    background-color: darkkhaki; /* Green */
    color: #ffffff;
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-2 {
    background-color: darkgray;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
}

.bg-3 {
    background-color: lightseagreen;
    color: white;
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-4 {
    background-color: white;
    color: black;
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-2-text {
    margin: 0px 200px 0px 200px;
    text-align: justify;
    font-size: 20px;
}

.bg-3-text {
    margin: 0px 200px 0px 200px;
    text-align: justify;
    font-size: 20px;
}

.bg-4-text {
    margin: 0px 200px 0px 200px;
    text-align: justify;
    font-size: 20px;
}

.bg-grey {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn btn.info {
    background-color: darkblue;
    color: white;
}

.myfooter {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Carousel_img {
    margin: auto;
}

.item active {
    position: relative;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-caption {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .Carousel slide {
    margin: auto;
} */

