.header {
    background-color: lightcyan;
    width: 98%;
    text-align: center;
}

.nav {
    width: 98%;
    height: 30px;
    background-color: lightblue;
    border-radius: 10px;
    border: 2px solid darkgray;
    margin-bottom: 10px;
}

.nav ul {
    list-style-image: none;
    list-style-position: outide;
    list-style-type: none;
    margin: 0 auto;
}

/* .nav ul li {
    float: left;
} */

.nav ul li a {
    float: left;
    margin-right: 100px;
    display: block; 
    line-height: 30px;
    font-weight: bold;
}

.leftsection {
    float: left;
    width: 70%;
    background-color: lightgray;
}

.rightsection {
    float: right;
    width: 30%;
    height: 100%;
    background-color: yellow;
}

.footer {
    float: left;
    width: 100%;
    text-align: center;
    margin: 20px auto;
}

.article {
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    width: 90%;
    margin: 10px 10px 10px 10px;
}

.sidemenu {
    border-radius: 10px;
    background-color: bisque;
    width: 80%;
    margin-left: 20px;
}